In [1]:
import numpy as np
import pandas as pd

In [2]:
data0 = pd.read_csv("dataset_phishing.csv")

In [3]:
data0 = data0[['url','status']]

In [4]:
result = []


for data in data0['status'].values:
    if data == 'legitimate':
        result.append(0)
    else:
        result.append(1)

In [5]:
data0['status'] = result

In [6]:
data0

                                                     url  status
0                  http://www.crestonwood.com/router.php       0
1      http://shadetreetechnology.com/V4/validation/a...       1
2      https://support-appleld.com.secureupdate.duila...       1
3                                     http://rgipt.ac.in       0
4      http://www.iracing.com/tracks/gateway-motorspo...       0
...                                                  ...     ...
11425      http://www.fontspace.com/category/blackletter       0
11426  http://www.budgetbots.com/server.php/Server%20...       1
11427  https://www.facebook.com/Interactive-Televisio...       0
11428             http://www.mypublicdomainpictures.com/       0
11429  http://174.139.46.123/ap/signin?openid.pape.ma...       1

[11430 rows x 2 columns]

In [7]:
data0.to_csv('new_dataset.csv', index=False)